*{
    margin : 0;
    padding :0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}

#main img{
    height: 650px;
    width: 450px;
    position: relative;
    z-index: 99;
    top: 5%;
}
#scroll-div{
    position: absolute;
    top: 30%;
    width: 100%;
    /* height: 100px; */
    white-space: nowrap;
    overflow-x:auto ;
    overflow-y: hidden;
}
#scroll-div::-webkit-scrollbar{
    display: none;
}
#scroll-div  h1{
    display: inline-block;
    font-size: 120px;
    font-family: "Monument Extended Bold";
    margin-right: 30px;
    letter-spacing: 3px;
    animation-name: scroll;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#scroll-div2{
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 100;
    /* height: 100px; */
    white-space: nowrap;
    overflow-x:auto ;
    overflow-y: hidden;
}
#scroll-div2::-webkit-scrollbar{
    display: none;
}
#scroll-div2  h1{
    display: inline-block;
    font-size: 120px;
    font-family: "Monument Extended Bold";
    color: transparent;
    margin-right: 30px;
    letter-spacing: 4px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    animation-name: scroll;
    animation-duration: 2.8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#scroll-div3{
    position: absolute;
    top: 70%;
    width: 100%;
    /* height: 100px; */
    white-space: nowrap;
    overflow-x:auto ;
    overflow-y: hidden;
}
#scroll-div3::-webkit-scrollbar{
    display: none;
}
#scroll-div3  h1{
    display: inline-block;
    font-size: 120px;
    font-family: "Monument Extended Bold";
    margin-right: 30px;
    letter-spacing: 4px;
    animation-name: scroll;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}
#text-div{
    
    position: absolute;
    font-family: "Monument Extended Bold";
    width: 60%;
    font-size: 25px;
    z-index: 99;
    text-align: center;
    top: 15%;
    text-transform: uppercase;
    text-decoration: none;
    
}
@keyframes scroll {
    0%{
        transform: translateX(0);
        transform: translateX(calc(-100% - 30px));
    }
    100%{
        transform: translateX(0);
    }
    
}
#side-text{
    font-size: 20px;
    position: absolute;
    font-family: "Monument Extended Bold";
    width: 30%;
    font-size: 25px;
    z-index: 99;
    text-align: left;
    left: 15px;
    top: 780px;
    text-transform: uppercase;
}
#nav{
    font-size: 16px;
    color: white;
    background-color: #000;
    display: flex;
    position : relative;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    padding: 20px;
    text-transform: uppercase;
    font-family: "Monument Extended Bold";
    
}
#nav-search{
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 19px;
    margin-right: 25px;
}
#nav-search :hover{
    color: antiquewhite;
    transition: 0.3 ease;
}
#nav a{
    color: white;
    text-decoration: none;
    
    
}
#icon {
    height: 45px;
    padding-top: 3px;
}
#directory{
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 69px;
    margin-left: 30px;
}
#directory :hover{
    color: antiquewhite;
    transition: 0.3 ease;
}
#foot {
    position: relative;
    top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 8px;
    width: 100%;
    height: 60px;
    padding: 20px;
    text-transform: uppercase;
    font-family: "Monument Extended Bold";
    font-weight: bolder;
    
}
#foot a{
    color: black;
    text-decoration: none;
}
.section-p1{
    padding: 40px 10px;
}
#fe-items h2{
    padding: 40px 40px 60px 40px;
    text-transform: uppercase;
    font-family: "Monument Extended Bold";
    font-weight: bolder;

}
#fe-items .pro{
    width: 23%;
    min-width: 250px;
    border: 1px transparent;
    
    cursor: pointer;
}

#fe-items .pro .des{
    text-transform: uppercase;
    font-family: "Monument Extended Bold";
    font-size:smaller;
    font-weight: lighter;
    padding: 5px 0px;
    color: #0606066e;
    /* text-align: start; */

}
#fe-items .pro img{
    width: 100%;
    border-radius:7% ;
    padding-bottom: 5px;
}
#fe-items .pro .des h5{
    padding-top: 6px;
}
#fe-items .pro-container{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    
}
#banner{
    margin: 60px 0;
    display : flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("https://jagtereho.com/cdn/shop/files/JagteReho_Banner.jpg1_1880x.jpg?v=1695799683");
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-position: center;
    margin-top: 120px;
}
#banner button{
    font-size: 16px;
    font-weight: 600;
    padding: 15px 35px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.546);
    border-radius: 100px;
    margin-top:55vh;
    cursor: pointer;
    outline: none;
    border: none;
    transition: 0.3s;
    font-family: "Monument Extended Bold";
    
}
#banner a{
    text-decoration: none;
    color: #fff;

}
#after{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#after img{
    padding: 10px;
    height: 40%;
    width: 40%;
    border-radius: 50px;
}
#newsletter{
    font-family: "Monument Extended Bold";
    text-transform: uppercase;
    color: #fff;
    background-color: #000;
    padding: 40px 180px;
    width: 40%;
    margin: 120px 450px;
    border-radius: 100px;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    
}
#form{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    margin-top: .5em;

}
#newsletter input{
    
    font-size: 14px;
    font-weight: lighter;
    padding:.5em .5em;
    width: 90%;
    height: 40px;
    border: 1px solid transparent;
    outline: none;
    border-radius: 4px;
    
}
#newsletter button {
    font-size: 14px;
    font-weight: lighter;
    font-family: "Monument Extended Bold";
    width: 40%;
    height: 30px;
    border-radius: 4px;
    border: none;
    color: #000;
    background-color: #fff;
    margin-left: .5em;
    text-wrap: nowrap;
    text-transform: uppercase;
    padding:.5em .5em;
}
#prodetails .single-pro-img{
    width: 50%;
    margin-right: 50px;
}
.small-img-group{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24% ;
    cursor: pointer;
}
#prodetails{
    text-transform: uppercase;
    font-family: "Monument Extended Bold";
    display: flex;
    margin-top: 20px;
}


#prodetails .single-pro-details{
    width: 50%;
    padding-top: 30px;
}

#prodetails .single-pro-details h4{
    padding: 60px 0 20px 0;
}
#prodetails .single-pro-details h3{
    font-size: 26px;
    padding: 60px 0 0 0 ;
}
#prodetails .single-pro-details h6{
    border: none;
    padding: 0;
}
#prodetails .single-pro-details span{
    font-size: 14px;
    font-weight: lighter;
    font-family: "Monument Extended Bold";
    line-height: 24px;
    
}
#prodetails .single-pro-details button{
    width: 40%;
    height: 50px;
    border-radius: 8px;
    border: 1px solid;
    color: #fff;
    background-color: #000;
    margin-left: 7px;
    padding:15px 15px; 
    text-transform: uppercase;
    font-family: "Monument Extended Bold";
    cursor: pointer;
}
#prodetails .single-pro-details select{
    width: 40%;
    height: 30px;
    border-radius: 4px;
    border: 1px solid;
    color: #000;
    background-color: #fff;
    margin-left: .5em;
    padding:.5em .5em;
    text-transform: uppercase;
    font-family: "Monument Extended Bold";
    cursor: pointer;
}
#prodetails .single-pro-details button:hover{
    background-color: #fff;
    color: #000;
    transition: 0.3s ease;
}
.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}
.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #000;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}
.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
    font-family: "Monument Extended Bold";
}
.content-section {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
    font-family: "Monument Extended Bold";
}
.section-header {
    font-family: "Monument Extended Bold";
    font-weight: normal;
    color: #000;
    text-align: center;
    font-size: 2.5em;
    margin-top: 3em;
}

